mixin alert-success(times)
    - if (messages.success)
        .message.info
            div(
                class="alert alert-success"
                show-alert
                data-time= times
            ) #{messages.success} <span close-alert>x</span>



//- phần alert này để dùng cho flash và khi sử dụng flash nó sẽ truy cập vào message, cú pháp flash bên controller là req.flash('Error', `nội dung`); , thì ở đây message.Error tức là flash truy cập được vào message và trả về Error
//- alert Error cho bên controller check validate dữ liệu title
//- vì nó quay trở lại trang create nên cần nhúng ở trang create chứ ko phải trang index
mixin alert-error(times)
    - if (messages.error)
        .message.info
            div(
                class="alert alert-danger"
                show-alert
                data-time= times
            ) #{messages.error} <span close-alert>x</span>